{% extends './base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
	{% if error_message %}<p class="error_message"><strong>{{ error_message }}</strong></p>{% endif %}
	<form class="form-horizontal create_question" id="create_question" action="." method="post">
		{% csrf_token %}
		{% for field in question_create_form %}
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="field">{{ field.label }} {{ form.errors }}</label>
		      <div class="col-sm-4">
				{{ field }}
				<p class="{{ field.name }}_errors">{{ field.errors }}</p>
				</div>
		    </div>
		{% endfor %}
		<button class="btn btn-default clear-all" type="reset">Clear</button>&nbsp;&nbsp;
		<button class="submit-button" type="submit">Create</button>
	</form>

	<script type="text/javascript">
		$( document ).ready(function() {
			$('.select2').select2();
		});
	</script>

{% endblock %}